<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="../../../css/vant.css" rel="stylesheet" />
    <link href="../../../css/base.css" rel="stylesheet" />
    <link href="../../../css/htmls/pages/change.login.password.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i v-if="!request.from" id="app-back-button" class="iconfont icon-fanhui right-back"></i>
            <p class="app-head-text" v-text="language.TITLE_TEXT"></p>
            <button class="submit-button" @click="checkData" v-text="language.BUTTON_1"></button>
        </div>
        <div id="app-content">
            <div v-if="isLoadingAnswer" class="loading-box">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING"></p>
            </div>
            <div v-else class="input_content" v-cloak>
                <div class="warn text-left" v-if="request.from">
                    <p v-text="language.WARNING_TEXT"></p>
                </div>
                <div class="input_content pd">
                    <p class="rule" v-text="language.RULE_TITLE"></p>
                    <ul class="rules">
                        <li class="rule_item" v-text="language.RULE_ITEM_1"></li>
                        <li class="rule_item" v-text="language.RULE_ITEM_2"></li>
                    </ul>
                </div>
                <div class="input-group bb">
                    <span class="input-text" v-text="language.INPUT_TEXT_1"></span>
                    <input type="password" class="input-control" v-model="form.oldPassword" maxlength="16" v-bind:placeholder="language.INPUT_PLACEHOLDER_1" />
                </div>
                <div class="input-group bb">
                    <span class="input-text" v-text="language.INPUT_TEXT_2"></span>
                    <input type="password" class="input-control" v-model="form.password" maxlength="16" v-bind:placeholder="language.INPUT_PLACEHOLDER_2" />
                </div>
                <div class="input-group">
                    <span class="input-text" v-text="language.INPUT_TEXT_3"></span>
                    <input type="password" class="input-control" v-model="confirmPassword" maxlength="16" v-bind:placeholder="language.INPUT_PLACEHOLDER_3" />
                </div>
                <div class="mt-10">
                    <div class="input-group">
                        <p class="full-text" v-text="questionDisplay"></p>
                        <input type="text" class="input-control center w-100" v-model="form.answer" v-bind:placeholder="language.INPUT_PLACEHOLDER_5" maxlength="10" />
                    </div>
                    <div class="warn text-center">
                        <p v-text="language.BIND_TEXT"></p>
                    </div>
                    <div class="input-group">
                        <p class="input-text" v-text="language.INPUT_TEXT_4"></p>
                        <input type="text" class="input-control" v-model="form.idcard" v-bind:placeholder="language.INPUT_PLACEHOLDER_4"
                               maxlength="18" />
                    </div>
                </div>
                <button v-if="request.from == 'home'" class="confirm_button normal" @click="returnLogin">返回登錄</button>
            </div>
        </div>
    </div>
    <script src="../../../js/vue.min.js"></script>
    <script src="../../../js/vant.js"></script>
    <script src="../../../js/base.js"></script>
    <script>
        var _vue = new Vue({
            el: '#app',
            data: {
                'currentUser': getUserModel(),
                'isLoadingAnswer': true,
                'confirmPassword': '',
                'statusbarHeight': 20,
                'questionDisplay': '',
                'form': {
                    'idcard': '',
                    'qId': 0,
                    'answer': '',
                    'oldPassword': '',
                    'password': ''
                },
                'request': {
                    'from': queryString('from')
                },
                'language': {
                    'TITLE_TEXT': '',
                    'BUTTON_1': '',
                    'INPUT_TEXT_1': '',
                    'INPUT_PLACEHOLDER_1': '',
                    'INPUT_TEXT_2': '',
                    'INPUT_PLACEHOLDER_2': '',
                    'INPUT_TEXT_3': '',
                    'INPUT_PLACEHOLDER_3': '',
                    'INPUT_TEXT_4': '',
                    'INPUT_PLACEHOLDER_4': '',
                    'ERROR_1': '',
                    'ERROR_2': '',
                    'ERROR_3': '',
                    'ERROR_4': '',
                    'ERROR_5': '',
                    'ERROR_6': '',
                    'ERROR_7': '',
                    'SUBMIT_TOAST_TEXT': '',
                    'SUCCESS_TITLE': '',
                    'SUCCESS_TEXT': '',
                    'RULE_TITLE': '',
                    'RULE_ITEM_1': '',
                    'RULE_ITEM_2': '',
                    'WARNING_TEXT': ''
                }
            },
            methods: {
                'returnLogin': function () {
                    var hotScreen = plus.webview.getWebviewById('hot.screenPage');
                    if (hotScreen != null) {
                        hotScreen.close('none');
                    }

                    gotoNewWindow('loginPage', '../../account/login', {
                        openCallback: function () {
                            plus.webview.getWebviewById('mainPage').close('none');
                            closeWindow('none');
                        }
                    })
                },
                'checkData': function () {
                    if (!this.form.oldPassword) {
                        toastMsg(this.language.ERROR_1);
                    } else if (this.form.oldPassword.length < 6) {
                        toastMsg(this.language.ERROR_2);
                    } else if (!this.form.password) {
                        toastMsg(this.language.ERROR_3)
                    } else if (this.form.password.length < 6) {
                        toastMsg(this.language.ERROR_4);
                    } else if (!this.confirmPassword) {
                        toastMsg(this.language.ERROR_5)
                    } else if (this.form.password != this.confirmPassword) {
                        toastMsg(this.language.ERROR_6)
                    } else if (!this.form.idcard) {
                        toastMsg(this.language.ERROR_8)
                    } else if (!this.form.answer) {
                        toastMsg(this.language.ERROR_7)
                    } else {
                        this.doSubmitAjax();
                    }
                },
                'doSubmitAjax': function () {
                    toastLoading({
                        'message': this.language.SUBMIT_TOAST_TEXT
                    });

                    ajax({
                        url: CONFIG.BASE_URL + 'ChangePassword',
                        data: this.form,
                        success: function (result) {
                            if (result.Error) {
                                closeToastLoading();
                                toastMsg(result.Msg);
                            } else {
                                updateUserModel({
                                    'IsStrong': true
                                });

                                gotoNewWindow('change.successPage', '../../success/change.success', {
                                    param: `title=${_vue.language.SUCCESS_TITLE}&text=${_vue.language.SUCCESS_TEXT}`,
                                    openCallback: function () {
                                        closeWindow('none');
                                    }
                                });
                            }
                        }
                    })
                },
                'loadAnswer': function () {
                    ajax({
                        url: CONFIG.BASE_URL + 'GetAnswerTitle',
                        success: function (result) {
                            if (result.Error) {
                                toastMsg(result.Msg);
                                return;
                            }

                            _vue.questionDisplay = result.QTitle;
                            _vue.form.qId = result.Qid;
                            _vue.isLoadingAnswer = false;
                        }
                    })
                },
                'changeLanguage': function () {
                    LSE.install('change_login_password', function (lang) {
                        Object.assign(_vue.language, lang);
                    });
                },
                'backButton': function () {
                    toastMsg('請重置您的登錄密碼');
                }
            },
            created: function () {
                if (CONFIG.IS_RUNTIME) {
                    this.statusbarHeight = plus.navigator.getStatusbarHeight();
                }

                if (this.request.from) {
                    window.backButton = this.backButton;
                }

                this.changeLanguage();
                this.loadAnswer()
            }
        });
    </script>
</body>
</html>
