<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link href="../../../css/vant.css" rel="stylesheet" />
		<link href="../../../css/base.css" rel="stylesheet" />
		<link href="../../../css/htmls/pages/change.trans.password.css" rel="stylesheet" />
		<script src="html5plus://ready"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-head" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
				<i id="app-back-button" class="iconfont icon-fanhui right-back" v-if="request.fp != 'change'"></i>
				<p class="app-head-text" v-text="language.TITLE_TEXT">修改交易密碼</p>
				<button v-show="!isLoadingAnswer" class="submit-button" @click="checkData()" v-text="language.CONFIRM_MODIFY">確認更改</button>
			</div>
			<div id="app-content">
				<div v-if="isLoadingAnswer" class="loading-box">
					<van-loading color="black"></van-loading>
					<p class="loading-text" v-text="language.LOADING"></p>
				</div>
				<div   class="input_content" v-cloak>
					<div class="warn text-left" v-if="request.fp == 'change'">
						<b>
							<i class="iconfont icon-warning-line"></i>
							<span v-text="language.WARNING_TITLE"></span>
						</b>
						<p v-text="language.WARNING_TEXT"></p>
					</div>
					<div class="input_content pd">
						<b class="rule" v-text="language.RULE_TITLE"></b>
						<ul class="rules">
							<li class="rule_item" v-text="language.RULE_ITEM_1"></li>
							<li class="rule_item" v-text="language.RULE_ITEM_2"></li>
						</ul>
					</div>
					<div class="input-group bb">
						<span class="input-text" v-text="language.CURRENT_TRANSFER_PWD">當前交易密碼</span>
						<input type="password" class="input-control" v-model="form.oldPassword" maxlength="16" v-bind:placeholder="language.PLEASE_INPUT_CURRENT_TRANSFER_PWD" />
					</div>
					<div class="input-group bb">
						<span class="input-text" v-text="language.NEW_TRANSFER_PWD">新的交易密碼</span>
						<input type="password" class="input-control" v-model="form.password" maxlength="16" v-bind:placeholder="language.PLS_IPT_NEW_PWD" />
					</div>
					<div class="input-group">
						<span class="input-text" v-text="language.CONFIRM_TRANSFER_PWD">重複交易密碼</span>
						<input type="password" class="input-control" v-model="confirmPassword" maxlength="16" v-bind:placeholder="language.CONFIRM_NEW_PWD" />
					</div>
					<div class="mt-10">
						<div class="input-group">
							<p class="full-text" v-text="questionDisplay"></p>
							<input type="text" class="input-control center w-100" v-model="form.answer" v-bind:placeholder="language.INPUT_PLACEHOLDER_1"
							 maxlength="10" />
						</div> 
						<div class="warn text-center">
							<p v-text="language.BIND_TEXT"></p>
						</div>
						<div class="input-group">
							<p class="input-text" v-text="language.INPUT_TEXT_1"></p>
							<input type="text" class="input-control"  v-model="form.idcard" maxlength="18"  v-bind:placeholder="language.INPUT_PLACEHOLDER_2" />		 
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../../js/vue.min.js"></script>
		<script src="../../../js/vant.js"></script>
		<script src="../../../js/base.js"></script>
		<script>
			var _vue = new Vue({
				el: '#app',
				data: {
					'currentUser': getUserModel(),
					'isLoadingAnswer': true,
					'confirmPassword': '',
					'questionDisplay': '',
					'form': {
						'idcard': '',
						'oldPassword': '',
						'answer': '',
						'qId': 0,
						'password': ''
					},
					'request': {
						'fp': queryString('fp')
					},
					"language": {},
					'statusbarHeight': 20
				},
				methods: {
					'checkData': function() {
						if (!this.form.oldPassword) {
							toastMsg(_vue.language.INPUT_CURRENT); //'請輸入當前交易密碼'
						} else if (this.form.oldPassword.length < 6) {
							toastMsg(_vue.language.CURRENT_TRANSFER_PWD_MUST_MORE_CHARS); //'當前交易密碼必須大於6位'
						} else if (!this.form.password) {
							toastMsg(_vue.language.PLS_IPT_NEW_PWD); //'請輸入新的交易密碼'
						} else if (this.form.password.length < 6) {
							toastMsg(_vue.language.NEW_PWD_MUST_MORE_CHARS); //'新的交易密碼必須大於6位'
						} else if (!this.confirmPassword) {
							toastMsg(_vue.language.CONFIRM_NEW_PWD); //'請重複輸入新的交易密碼'
						} else if (this.form.password != this.confirmPassword) {
							toastMsg(_vue.language.TWO_PWD_MUST_SAME); //'兩次新的交易密碼不一致'
						} else if (!this.form.answer) {
							toastMsg(_vue.language.ERROR_1);
						}else if (!this.form.idcard) {
							toastMsg(_vue.language.ERROR_8);
						} else {
							this.doSubmitAjax();
						}
					},
					'doSubmitAjax': function() {
						toastLoading({
							'message': _vue.language.SUBMIT_PROGRESSING
						}); //'正在提交'

						ajax({
							url: CONFIG.BASE_URL + 'ChangeTransactionPassword',
							data: this.form,
							success: function(result) {
								if (result.Error) {
									closeToastLoading();
									toastMsg(result.Msg);
									return;
								}

								if (_vue.request.fp) {
									var homePage = plus.webview.getWebviewById('home.htmlPage');
									if (homePage != null) {
										homePage.evalJS('_vue.addResetCount("trans")');
									}
								}

								gotoNewWindow('change.successPage', '../../success/change.success', {
									param: `title=${_vue.language.MODIFY_TYPE}&text=${_vue.language.MODIFY_SUCCESS}`, //'title=修改結果&text=修改交易密碼成功',
									openCallback: function() {
										closeWindow('none');
									}
								});
							}
						})
					},
					'changeLanguage': function() {
						LSE.install('change_trans_password', function(lang) {
							Vue.set(_vue, "language", lang);
						});
					},
					'loadAnswer': function() {
						ajax({
							url: CONFIG.BASE_URL + 'GetAnswerTitle',
							success: function(result) {
								if (result.Error) {
									toastMsg(result.Msg);
									return;
								}

								_vue.questionDisplay = result.QTitle;
								_vue.form.qId = result.Qid;
								_vue.isLoadingAnswer = false;
							}
						})
					}
				},
				created: function() {
					if (CONFIG.IS_RUNTIME) {
						this.statusbarHeight = plus.navigator.getStatusbarHeight();
					}

					if (this.request.fp == 'change') {
						window.isPageControlBackButton = true;
					}

					this.changeLanguage();
				},
				mounted: function() {
					this.loadAnswer();
				}
			});
		</script>
	</body>
</html>
