.input_content {
    margin-top: 10px;
}

.input-group .input-text {
    width: 40%;
}

.input-group .input-control {
    width: 60%;
}

.input_content.pd {
    background-color: white;
    padding: 15px;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 10px;
    background-image: url('../../../img/change_pin_bg.png');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 90% center;
}

.input_content .rule {
    display: block;
    margin-bottom: 10px;
}

.input_content .rules {
    padding-left: 15px;
}

    .input_content .rules .rule_item {
        font-size: .8em;
        color: #777;
        line-height: 20px;
        list-style-type: disc;
    }

.warn {
    padding: 10px;
    font-size: .9em;
    margin-top: 5px;
    color: #f9bc0b;
    background-color: #fef7e1;
    border-color: #fef3d2;
    text-align: left;
}

    .warn.text-center {
        text-align: center;
    }

.confirm_button.normal {
    margin-top: 5%;
}
